<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="username">USERID: <%=username%></div>
    <div class="tournament_name">TOURNAMENT: <%=tournament_name%></div>
    <div class="price">PRICE: <%=price%></div>
    <button id="rzp-button1">Pay</button>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/underscore@1.13.4/underscore-umd-min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        let order_id = "";
        $(document).ready(async function(){
            alert('ready')
            try{
                const res1 = await fetch(`https://ardentsportsapis.herokuapp.com/rzp_payment?amount=${$('.price').text()}00`)
                if(res1){
                    const data = await res1.json()
                    order_id = data.orderID
                    $("button").show();
                    var options = {
    "key": "rzp_test_BKenOYmQYaOXTq", // Enter the Key ID generated from the Dashboard
    "amount": `${$('.price')}00`, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Ardent Sports",
    "description": "Please Pay the exact amount as shown",
    "order_id": order_id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Ardent Sports Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
                }
            }catch(error){
                alert('Server Error...')
            }
        })
    </script>
</body>
</html>