<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="usrname">USERID: <h3 class="username"><%=username%></h3></div>
    <div class="tournament_name">TOURNAMENT: <%=tournament_name%></div>
    <div>
        <h3 class="tournament_id"><%=tournament_id%></h3>
    </div>
    <div class="price_label">PRICE in INR<h1 class="price"><%=price%></h1></div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/underscore@1.13.4/underscore-umd-min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- <script>
        let order_id = "";
        window.addEventListener('load',async function(){
            alert($('.price').text())
            try{
                const res1 = await fetch(`http://52.66.209.218:3000/rzp_payment?amount=${$('.price').text()}00`)
                if(res1){
                    const data = await res1.json()
                    order_id = data.orderID
                    $("button").show();
                    alert(`Order ID: ${order_id}`)
                    var options = {
    "key": "rzp_live_4JAecB352A9wtt", // Enter the Key ID generated from the Dashboard
    "amount": `${$('.price')}00`, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Ardent Sports",
    "description": "Please Pay the exact amount as shown",
    "order_id": order_id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": async function (response){
        try{
            const res = await fetch(`http://52.66.209.218:3000/updateUserPayment`,{
                method:'POST',
                headers:{
                    "Content-type":"application/json"
                },
                body:JSON.stringify({
                    price_paid:$('.price').text(),
                    userid:$('.username').text(),
                    tournament_id:$('.tournament_id').text(),
                    payment_id:response.razorpay_payment_id
                })
            })
            if(res){
                const data = await res.json()
                if(data){
                    if(data.Message=='paid'){
                    window.location = "http://52.66.209.218:3000/success"
                }
                else if(data.Message=='failure'){
                    window.location = "http://52.66.209.218:3000/failure"
                }
                }
            }
        }catch(error){
            alert("Unknown Error")
        }
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature);
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Ardent Sports Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(`Payment failed...Try again after 15 min,reason: ${response.error.reason}`);
        // alert(response.error.description);
        // alert(response.error.source);
        // alert(response.error.step);
        // alert(response.error.reason);
        // alert(response.error.metadata.order_id);
        // alert(response.error.metadata.payment_id);
        window.location = "http://52.66.209.218:3000/failure"
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
                }
            }catch(error){
                alert('Server Error...')
            }
        })
    </script> -->
    <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_KeNdwxVl2EfNE3"
        data-prefill.amount.Amount = "0" async> </script> </form>
</body>
</html>

<!-- //change here parth -->